@using System.Web.Optimization
@{
  
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
    @Styles.Render("~/styles")


</head>
<body>
    <header>
        <img src="~/images/logo.png" />
        <h1>Simple Blog</h1>
    </header>
    @Html.RouteLink("Home Page","Home") - 
    
    @if (User.Identity.IsAuthenticated)
    { // user is authenticated

        <p>Welcome back, @User.Identity.Name</p>
        if (User.IsInRole("admin")) //user is an admin
        {
            <a href="@Url.Action("index", "Posts", new {area="admin"})">View admin posts</a>
        }
        
        @Html.RouteLink("Logout","Logout")
    }
    else
    { // user is not authenticated
        @Html.RouteLink("Login","Login")
    }
    
    @RenderBody()
    <footer>
        All rights reserved - &copy; -@DateTime.Now.Year
    </footer>

    @RenderSection("scripts", false)
</body>
</html>
