@model SimpleBlog2.Areas.Admin.ViewModels.PostsForm

<h1>@(Model.isNew?"Create Post":"Update Post")</h1>

@using (Html.BeginForm("Form","Posts"))
{
        if (!Model.isNew)
        {
            @Html.HiddenFor(f=>f.postId)
        }
    
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-8">
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(f=>f.Title)
                @Html.TextBoxFor(f => f.Title, new { @class="form-control"})
            </div>
        
            <div class="form-group">
                @Html.LabelFor(f=>f.Slug)
                @Html.TextBoxFor(f => f.Slug, new { @class="form-control",data_slug="#Title"})
            </div>

            <div class="form-group">
                @Html.LabelFor(f=>f.Content)
                @Html.TextAreaFor(f => f.Content, new { @class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    Post Actions
                </div>
                <div class="panel panel-body">
                   <input type="submit"  value="@(Model.isNew?"Publish Post":"Update Post")" class="btn btn-success btn-sm"/>
                    <a href="@Url.Action("index")"> or can cancel</a>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Tags</div>
                <div class="panel-body post-tag-editor">
                    <label for="new-tag-name">New Tag : </label>
                    <div class="input-group">
                        <input id="new-tag-name" type="text" class="new-tag-name form-control" />
                        <span class="input-group-btn">
                            <button disabled class="btn btn-primary add-tag-button">Add</button> 
                        </span> 
                    </div>
                    <ul class="tag-select">
                        @for (var i = 0; i < Model.Tags.Count; i++)
                        {
                            var tag = Model.Tags[i];
                            
                            <li data-tag-id="@tag.Id" class="">
                                <a href="#">@tag.Name</a>
                            </li>

                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
}