@model SimpleBlog2.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}
<h1>User Login</h1>

<p>
    The value of test is in our form : @Model.Test
</p>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x=>x.UserName)
        @Html.EditorFor(x=>x.UserName)
    </div>
    
    
    <div>
        @Html.LabelFor(x=>x.Password)
        @Html.EditorFor(x=>x.Password)
    </div>
    
    <div>
        <input type="submit" value="Login" />
    </div>
        
    
    
    
}

