@using System.Web.Optimization
@{
  
   Layout = null;
}

@helper SelectedTabClass(string tabName){
    if (tabName==ViewBag. ){
        @:active
    }    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Simple Blog Admin Panel</title>
    @Styles.Render("~/admin/styles")
    @Scripts.Render("~/admin/scripts")

</head>
<body>
    <div class="container">
        
        <ul class="nav nav-pills">
            <li class="@SelectedTabClass("posts")"><a href="@Url.Action("index", "posts", new { area="admin"})"><span class="glyphicon glyphicon-th-list"> Posts </span></a></li>
            <li class="@SelectedTabClass("users")"><a href="@Url.Action("index", "users", new { area="admin"})"><span class="glyphicon glyphicon-user">Users</span></a></li>
            <li class="pull-right">@Html.RouteLink("Back to home page","home")</li>
                
                
        </ul>
    </div>


    @RenderBody()
    @RenderSection("scripts", false)


    <form class="hidden" id="anti-forgery-form">
        @Html.AntiForgeryToken()
    </form>


</body>
</html>
